<div class="container shadow p-3 mb-5 bg-body rounded">
    <div class="row modal-header">
        <h2>Update <b>Member </b></h2>
    </div>
    <div>
        <form #updateMemberForm="ngForm">
            <div class="form-group">
                <label class="form-label">First Name : </label>
                <input type="text" [(ngModel)]="member.firstName" required minlength="4" name="firstName"
                    #firstName="ngModel" class="form-control" />
                <div *ngIf="firstName.dirty || firstName.touched">
                    <div *ngIf="firstName.errors?.required" class="alert alert-danger">
                        First name is required
                    </div>
                    <div *ngIf="firstName.errors?.minlength" class="alert alert-danger">
                        First name must be atleast 4 characters long
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Last Name : </label>
                <input type="text" [(ngModel)]="member.lastName" required minlength="4" name="lastName"
                    #lastName="ngModel" class="form-control" />
                <div *ngIf="lastName.dirty || lastName.touched">
                    <div *ngIf="lastName.errors?.required" class="alert alert-danger">
                        Last name is required
                    </div>
                    <div *ngIf="lastName.errors?.minlength" class="alert alert-danger">
                        Last name must be atleast 4 characters long
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="form-label">Salary :</label>
                <input type="text" [(ngModel)]="member.salary" name="salary" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <button type="submit" [disabled]="updateMemberForm.invalid" (click)="updateMember();"
                    class="btn btn-success">Save</button>
                <button type="button" (click)="goBack();" class="btn btn-primary ms-2">Cancel</button>
            </div>
        </form>
    </div>
</div>