<div class="container shadow p-3 mb-5 bg-body rounded">
    <div class="row modal-header">
        <div class="col-sm-9">
            <h2>Manage <b>Members</b></h2>
        </div>
        <div class="col-sm-3">
            <button type="button" (click)="createMember();" class="btn btn-success">
                Add Member</button>
        </div>
    </div>
    <app-message></app-message>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="members.length != 0">
            <tr *ngFor="let member of members;let indexOfElement = index;">
                <td>{{member.firstName}}</td>
                <td>{{member.lastName}}</td>
                <td>{{member.salary}}</td>
                <td colspan="3">
                    <a [routerLink]="['/member/detail']" [state]="{index : indexOfElement}"
                        class="btn btn-info me-2">View</a>
                    <a [routerLink]="['/member/update']" [state]="{index : indexOfElement}"
                        class="btn btn-primary me-2">Edit</a>
                    <button type="button" class="btn btn-danger"
                        (click)="openDeleteModal(content,indexOfElement)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="members.length == 0">
            <tr>No records</tr>
        </tbody>
    </table>
    <!-- delete modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Member deletion</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this Member?</strong></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteMember();modal.close('ok click')">Ok</button>
        </div>
    </ng-template>
</div>