<h1>Member List :</h1>
<button type="button" (click)="createMember();">Add Member</button>
<app-message></app-message>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr *ngFor="let member of members;let indexOfElement = index;">
        <td>{{member.firstName}}</td>
        <td>{{member.lastName}}</td>
        <td>{{member.salary}}</td>
        <td><a routerLink="/update" [state]="{index : indexOfElement}">Edit</a></td>
        <td><a routerLink="/list" (click)="deleteMember(indexOfElement);">Delete</a></td>
        <td><a routerLink="/detail" [state]="{index : indexOfElement}">Detail</a></td>
    </tr>
</table>