<h1>Member List :</h1>
<button type="button" (click)="addMember();">Add Member</button>
<br><br>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Detail</th>
    </tr>
    <tr *ngFor="let member of members;let indexOfElement = index;">
        <td>{{member.firstname}}</td>
        <td>{{member.lastname}}</td>
        <td>{{member.salary}}</td>
        <td><a routerLink="/edit" [state]={indexOfElement}>Edit</a></td>
        <td><a routerLink="#" (click)="deleteMember(indexOfElement);">Delete</a></td>
        <td><a routerLink="/detail" [state]={indexOfElement}>Detail</a></td>
    </tr>
</table>