<form #createMemberForm="ngForm">
    <h1>Add Member :</h1>
    <label>First Name : *</label>
    <input type="text" required minlength="4" [(ngModel)]="member.firstName" #firstName="ngModel"
        name="firstName" /><br>
    <div *ngIf="firstName.dirty || firstName.touched">
        <div *ngIf="firstName.errors?.required">
            First name is required
        </div>
        <div *ngIf="firstName.errors?.minlength">
            First name must be atleast 4 characters long
        </div>
    </div>
    <label>Last Name : *</label>
    <input type="text" required minlength="4" [(ngModel)]="member.lastName" #lastName="ngModel" name="lastName" /><br>
    <div *ngIf="lastName.dirty || lastName.touched">
        <div *ngIf="lastName.errors?.required">
            Last name is required
        </div>
        <div *ngIf="lastName.errors?.minlength">
            Last name must be atleast 4 characters long
        </div>
    </div>
    <label>Salary :</label>
    <input type="text" [(ngModel)]="member.salary" name="salary" /><br><br>
    <button type="submit" [disabled]="createMemberForm.invalid" (click)="createMember();">Save</button>
    <button type="button" (click)="goBack();">Cancel</button>
</form>